@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes frame-animation {
  100% {
    transform: translateX(-100%);
  }
}

@font-face {
  font-family: "CP437";
  src: url("../public/PerfectDOSVGA437.ttf") format("truetype");
}

html, body {
  font-family: "CP437", "Lucida Console",monospace;
}

.animation {
  margin: 0 auto;
  max-width: 100px;
  overflow: hidden;
  font-size: 50px;
  margin-bottom: 20px;
}

.animation-frames {
  animation: frame-animation 500ms infinite;
  animation-timing-function: steps(4);
  display: flex;
  width: 400%;
}

.animation-frame {
  display: block;
  width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}
