@tailwind base;
@tailwind components;
@tailwind utilities;

.eightbit-btn {
  background: #92cd41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 16px;
  padding: 14px;
  font-family: 'Press Start 2P', cursive;
  max-width: 300px;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
}
.eightbit-btn:hover,
.eightbit-btn:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4aa52e;
}
.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #4aa52e;
}
.eightbit-btn:before,
.eightbit-btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}

.wrapper-console {
  display: inline-block;
  position: relative;
  background-color: #444;
}

.wrapper-console:hover img {
  transform: translateY(-20px);
}

.wrapper-console:before,
.wrapper-console:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.wrapper-console:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.wrapper-console:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}